{% extends "monthlycoffee/includes/base.html" %}
{% block content %}
    <div id="wrapper" class="divided">
        {% if roaster %}
            <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
                <div class="content">
                    <h1>{{ roaster.name }}</h1>
                    <!-- Add this as a link to check the ratings -->
                    <p>{{ roaster.rating }} / 5 </p>
                    <blockquote><i>{{ roaster.last_feedback }}.</i></blockquote>
                    <!-- Tags -->
                    <!-- Add a proper look upo by tags later -->
                    <ul class="actions small">
                        {% for tag in roaster.tags.all %}
                            {% include "monthlycoffee/tag.html" with tag=tag %}
                        {% endfor %}
                    </ul>
                    <ul class="actions fit">
                        <li><a href="{{ roaster.website }}" class="button primary fit" target="_blank" rel="noopener noreferrer">Buy Coffee!</a></li>
                    </ul>
                </div>
                <div class="image fit">
                    <img src="{{ roaster.image_ref }}" alt="" />
                </div>
            </section>
        {% else %}
            <ul class="actions stacked">
                <p>
                    404 ERROR
                </p>
            </ul>
        {% endif %}
    </div>
{% endblock %}