{% extends "monthlycoffee/includes/base.html" %}
{% block content %}
    <div id="wrapper" class="divided">
        {% if roaster %}
            <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
                <div class="content">
                    <h1>
                        <a href="{{ roaster.website }}" class="major" target="_blank" rel="noopener noreferrer">{{ roaster.name }}</a>
                    </h1>
                    <!-- Add this as a link to check the ratings -->
                    {% include 'monthlycoffee/roaster_rating.html' with roaster=roaster %}
                    <!-- Tags -->
                    {% include "monthlycoffee/tag.html" with tags=roaster.tags.all %}
                    <ul class="actions fit">
                        <li><a href="{{ roaster.website }}" class="button primary fit" target="_blank" rel="noopener noreferrer">Buy Coffee!</a></li>
                    </ul>
                </div>
                <div class="image fit">
                    <img src="{{ roaster.image_ref }}" alt="" />
                </div>
            </section>
        {% else %}
            <ul class="actions stacked">
                <p>
                    404 ERROR
                </p>
            </ul>
        {% endif %}
    </div>

    {% if show_rating %}
        {% include 'monthlycoffee/rate.html' with roaster=roaster %}
    {% endif %}
{% endblock %}