{% if roasters %}
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Coffee Roasters</h2>
    </div>
    <!-- Gallery -->
    <div class="gallery style1 small lightbox onscroll-fade-in"><div class="modal" tabindex="-1"><div class="inner"><img src=""></div></div><div class="forward"></div><div class="backward"></div>
        <div class="inner" style="overflow: hidden;">
        {% for roaster in roasters %}
            {% include "monthlycoffee/gallery_article.html" with roaster=roaster %}
        {% endfor %}
        </div>
    </div>
</section>
{% endif %}